<h1>Enter a new post</h1>

<form action="/posts" method="POST">
  <label for="name">Name:</label> <input type="text" id="name" name="name">
  <label for="content">Content:</label> <input type="text" id="content" name="content">
  <input type="submit" id="submit" value="Submit">
</form>
